[submodule "submodules/rsync-time-backup"]
	path = submodules/rsync-time-backup
	url = git@github.com:basnijholt/backups.git
[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "submodules/zsh-fzf-history-search"]
	path = submodules/zsh-fzf-history-search
	url = git@github.com:joshskidmore/zsh-fzf-history-search.git
[submodule "submodules/truenas-zfs-unlock"]
	path = submodules/truenas-zfs-unlock
	url = git@github.com:ThorpeJosh/truenas-zfs-unlock.git
[submodule "submodules/dotbins"]
	path = submodules/dotbins
	url = git@github.com:basnijholt/dotbins.git
[submodule "submodules/mydotbins"]
	path = submodules/mydotbins
	url = git@github.com:basnijholt/mydotbins.git
[submodule "submodules/zsh-z"]
	path = submodules/zsh-z
	url = git@github.com:agkozak/zsh-z.git
[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
	ignore = dirty
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "submodules/syncthing-resolve-conflicts"]
	path = submodules/syncthing-resolve-conflicts
	url = git@github.com:dschrempf/syncthing-resolve-conflicts.git
[submodule "submodules/tmux"]
	path = submodules/tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "submodules/autoenv"]
	path = submodules/autoenv
	url = https://github.com/hyperupcall/autoenv
[submodule "submodules/mechabar"]
	path = submodules/mechabar
	url = git@github.com:sejjy/mechabar.git
